@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
} 

body{
color: #111;
}

#loader {
 text-align: center;
 position:fixed;
 margin-left:auto;
 margin-right: auto;
 width: 100%;
 height: 100%;
 display: flex;
 background: red; 
 justify-content: center;
 align-items: center;
 font-size:100px;
}



.ring{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
  border-left: 10px solid #ffd700;
  border-top: 10px solid #fff000;
  border-right: 10px solid #ffd700;
   border-bottom: 10px solid #fff000;
  box-shadow: 0px 0px 100px #fff000;
}

@keyframes ring {
  0%{
    transform: rotate(0deg);
    
  }
  50%{
    transform: rotate(180deg);
  }
  
  100%{
    transform: rotate(360deg);
  }
}
.ring:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  }
  
.span{
  color: #ffd700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
 
}
@keyframes text {
  50%{
    color: #ffd700;
  }
}

.center{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

#myDiv {
  display: none;
  text-align: center;
}


.load{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
height: auto;
width: 235px; 
border-radius:20px;
}





.imgs{
width: 100%; 
 height: 450px;
}

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: red;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  transition: all 0.3s ease;
}

.logo{
height: 40px;
width: 250px;
}


nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 }

nav ul li{
  margin: 0 5px;
}
nav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  color: #fff;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #ffd700;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 30px;

  }
  
  } 
  
@media (max-width: 920px){
  
  
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    right: -100%;
    background: #eee;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    
  }
  #click:checked ~ ul{
    right: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    color: #111;
    width: 100%;
    margin-right: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: red;
  }
  
}

a{
text-decoration:none;
color: #111;
}

p{
color: #111;
}

.images{
border: none;
opacity: 0.6;
width: 100px;
 height: 100px;
 object-fit: fill;
}

.active1, .images:hover {
border-bottom: 5px solid #FFD700;
opacity: 1;
}


.active2, .images:hover {
border-bottom: 5px solid #FFD700;
opacity: 1;
}

.active3, .images:hover {
border-bottom: 5px solid #FFD700;
opacity: 1;
}


.active4, .images:hover {
border-bottom: 5px solid #FFD700;
opacity: 1;
}


.active5, .images:hover {
border-bottom: 5px solid #FFD700;
opacity: 1;
}


.active6, .images:hover {
border-bottom: 5px solid #FFD700;
opacity: 1;
}

.active7, .images:hover {
border-bottom: 5px solid #FFD700;
opacity: 1;
}

.wrap{
 width: 100%;  
 }
            
.carousel{
max-width: 1200px;
margin: auto;
padding: 0 30px;
}

.carousel .card{
color: #fff;
text-align: center;
margin: 20px 0;
line-height: 250px;
font-size: 90px;
font-weight: 600;
border-radius: 10px;
}

.owl-dots{
text-align: center;
}
.owl-dot{
height: 15px;
width: 45px;
margin: 0 5px;
outline: none;
border-radius: 14px;
border: 2px solid red!important;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
background: red!important;
}

      
.content{
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  color: #fff;
}

.head{
color: red;
}

.head2{
color: red;
}

footer{
position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #111;
  text-align: center;
 height: 80px;
 padding: 20px;
 background: #eee;
}

.footer-head{
color:red;
}

.footer-contact{
text-align:left;
color: #fff;
}

.footer-links{
text-align:left;

}

li{
display: block;
}

.fas{
color: #ffd700;
}

.footer-links ul li a{
color: #fff;
text-decoration:none;
}

.text-bot{
 font-size:16px;
 font-weight:500;
 color: #ffd700;
}

.container3{
width: 100%;
display: grid;
padding: 20px;
background:red;
}

.fab{
display:inline;
background: #fff;
height: 40px;
width: 40px;
border-radius:100%;
font-size:20px;
color: red;
padding: 10px;
text-align:center;
}

label{
text-align: left;
}

.contain {
max-width: 700px;
margin-left: auto;
margin-right: auto;
padding: 1em;

}


ul {
list-style: none;
padding: 0;
}

.wrapper {
background: #fff;
opacity:0.9;
border-radius: 20px;
box-shadow: 0 0 20px 0 rgba(0,0,0, .1);
padding: 27.5px;

}


#contactForm {
display: grid;
grid-gap: 20px;
grid-template-areas:
'name'
'last'
'email'
'phone'
'message';
}

.required-field {
grid-column: 1 / 2;
}

.submit-button {
grid-column: 2 / 3;
}

.name-field {
grid-area: name;
grid-column: 1 / 3;
}

.last-field {
grid-area: last;
grid-column: 1 / 3;
}


.email-field {
grid-area: email;
grid-column: 1 / 3;
}

.phone-field {
grid-area: phone;
grid-column: 1 / 3;
}




.message-field {
grid-area: message;
grid-column: 1 / 3;
}

.contact-us {
margin: 0 0 30px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
color: red;
}

.contact form {
border: 0;
}

.contact form label {
display: block;
color: #111;
}

.contact form p {
margin: 0;
font-family: 'Poppins', sans-serif;
font-weight: 700;
font-size: 12px;
color: #111;
}

.contact form input, .contact form textarea {
font-family: 'Poppins', sans-serif;
font-weight: 200;
font-size: 14px;
width: 100%;
padding: .4em .8em;
background: rgba(249, 250, 250, .5);
border: 1px solid rgba(74, 86, 96, .1);
border-radius: 2.5px;
outline-color: #5dc3f2;
}

select{
font-family: 'Poppins', sans-serif;
font-weight: 200;
font-size: 14px;
width: 100%;
padding: .4em .8em;
background: rgba(249, 250, 250, .5);
border: 1px solid rgba(74, 86, 96, .1);
border-radius: 2.5px;
outline-color: #5dc3f2;
}

.contact form .button {
font-family: 'Poppins', sans-serif;
font-weight: 700;
font-size: 12px;
color: #111;
background: #FFD700;
width: 90px;
height: 30px;
border: 0;
border-radius: 15px;
}

.submit-button {
align-self: center;
justify-self: end;
}

.contact form .button:hover, .contact form button:focus {
opacity: 0.8;
color: #111;
outline: 0;
transition: background-color 0.3s ease-out;
}

.required-field {
font-family: 'Poppins', sans-serif;
font-weight: 200;
font-size: 10px;
align-self: center;
justify-self: start;
}

.star{
color: red;
}



/* LARGE SCREENS */

@media (min-width: 500px) {


#contactForm {
grid-template-columns: 1fr 1fr;
grid-template-areas:
'name last'
'email phone'
'message message';
}

.name-field {
grid-area: name;
grid-column: 1 / 2;
}

.last-field {
grid-area: last;
grid-column: 2 / 2;
}

.email-field {
grid-area: email;
grid-column: 2 / 2;
}

.phone-field {
grid-area: phone;
grid-column: 1 / 2;
}

.message-field {
grid-area: message;
grid-column: 1 / 3;
}

.imgs{
   height: 450px;
   width: 50%;
}
 
 .images{
 width: 200px;
 height: 200px;
 object-fit: fill;
 }
 }

.prod{
width: 100%;
position: relative;
margin-bottom:-10px;
margin-top:-10px;
}


.cont{
width: 100%;
height: 50%;
position: relative;
margin-top:-10px;
}


#icon{
border: 2px solid red;
height: 40px;
width: 40px;
padding: 5px;
border-radius:50%;
font-size:25px;
color: red;
}

h3{
color: red;
}

h2{
color: #111;
}


.read{
border: 2px solid red;
color: red;
padding: 5px;
background: #fff;
border-radius:5px;
}


.main{
 max-width: 1200px;
 margin: 0 auto;
}

h1 {
   font-size: 24px;
   font-weight: 400;
   text-align: center;
}

.image{
 height: auto;
 width: 100%;
 vertical-align:middle;
}



.prd{
width: 250px;
height: auto;
pointer-events:none;
}

.crd{
padding: 25px;
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius:5px;
margin-top:5px;
background-image: linear-gradient(red, red),
                   linear-gradient(#ffd700, #ffd700),
                   linear-gradient(red, red),
                   linear-gradient(#ffd700, #ffd700),
                   linear-gradient(transparent, transparent);
 background-repeat: no-repeat;
 background-size: 5px 50%, 50% 5px, 5px 50%, 50% 5px, calc(100% - 5px) calc(100% - 5px);
 background-position: left bottom, left bottom, right top, right top, 4px 4px;
 background-color:#242424;

}

.heads {
 position: relative;
 text-align: center;
 color: #fff;
}

.heads2 {
 position: relative;
 text-align: center;
 color: #fff;
}

.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 30px;
 font-weight: 700;
 color: #fff;
 text-shadow: 0 2px red , 0 2px red; 
}

.centered1 {
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 20px;
 font-weight: 700;
 color: #fff;
 text-shadow: 0 2px red , 0 2px red; 
 background: rgba(0, 0, 0, 0.5);
 padding: 10px;
 
}



.crds {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .crds { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .crds { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 500px) {

.centered {
 font-size: 50px;
 text-shadow: 0 4px red , 0 4px red; 
}

.centered1 {
 font-size: 30px;
 text-shadow: 0 4px red , 0 4px red; 
}



.cont{
width: 450px;
height: auto;
border-top:5px solid #ffd700;
border-left:5px solid #ffd700;
border-right:5px solid red;
border-bottom:5px solid red;
margin-top:0;
border-top-left-radius:30px;
border-bottom-right-radius:30px;
}

.prod{
width: 450px;
height: auto;
border-top:5px solid #ffd700;
border-left:5px solid #ffd700;
border-right:5px solid red;
border-bottom:5px solid red;
margin-top:0;
border-top-left-radius:30px;
border-bottom-right-radius:30px;
}

.heads {
 height: 304px;
 background:linear-gradient(to right,red,#ffd700);
}

.heads2 {
 height: 266px;
 background:linear-gradient(to right,red,#ffd700);
}

.container3 { grid-template-columns: repeat(2, 1fr); }


.card-con { grid-template-columns: repeat(2, 1fr); }

.statscounts { grid-template-columns: repeat(2, 1fr); }


}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .card-con { grid-template-columns: repeat(3, 1fr); }
}

.column {
  float: left;
  width: 24.44%;
  padding: 5px;
}



/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row{
width:100%;
margin: auto;
}

.slide{
   width: 350px;
   height: 350px;
   object-fit:fill;
}


.cardss {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50);
 max-width: 300px;
 margin:10px 20px;
 text-align: center;
 font-family: arial;
 background:linear-gradient(to right,red,#ffd700);
  border-radius:0.25rem;
}

.cardss .title{
color: #fff;
font-size:20px;
font-weight:700;
margin: 10px;
}

.cardss .btns{
 border: none;
 outline: 0;
 padding: 12px;
 color: #111;
 background-color: #ffd700;
 text-align: center;
 cursor: pointer;
 width: 50%;
 font-size: 18px;
  border-radius: 0.25rem;
 margin-bottom:15px;
}

.cardss .btns:hover {
 opacity: 0.7;
}


.pro{
    width: 350px;
    height: 350px;
    object-fit: fill;
    border-top-left-radius:0.25rem;
    border-top-right-radius:0.25rem;
}





.card-con{
 max-width: 1200px;
 margin: 15px;
 display: grid;
 gap: 1rem;
 }
 
 .fa-whatsapp{
 position:fixed;
 width:60px;
 height:60px;
 bottom:40px;
 right: 10px;
 background-color:#25d366;
 color: #fff;
 border-radius:50px;
 text-align:center;
 font-size:30px;
 box-shadow: 2px 2px 3px #999;
 z-index:100;
 padding: 15px;
 }
 
 .statscounts{
 margin-left:auto;
 margin-right: auto;
 display: grid;
 gap: 1rem;
 text-align: center;
 }
 
 .st1,.st2{
 color: #ffd700;
 font-weight:600;
 }
 
 .stat-title{
 color: #fff;
 font-weight:600;
 font-size:20px;
 }
 
 .stat{
 padding: 10px;
 background: linear-gradient(to right,red,#ffd700);
 }
 
 .stat-icon{
 border: 5px solid #bbb;
 border-radius: 50%;
 height: 160px;
 width: 160px;
 margin-right:auto;
 margin-left:auto;
 background: #fff;
 padding: 5px;
 }